.pegination-button {
  cursor: pointer;
  margin-left: 5px;
  width: 100px;
}


.reverse-button {
  background-color: #fff;
  border: none;
  box-sizing: border-box;
  color: #e6e6e6;
  font-size: 20px;
  margin-left: 10px;
  transform-origin: center;
  transform: rotate(90deg);
  text-align: center;
}

.reverse-button:hover {
  color: #737373;
}

.reverse-button:active {
  transform: rotate(90deg) scale(1.2,1.2);
}

.todos-button {
  border: none;
  margin-left: 10px;
  width: 25px;
}